<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lectures
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let data of lecturesData">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" [src]="data.lec_icon" />
        </ion-thumbnail>
        <ion-label>{{data.lec_title}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-content>
