<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-button style="gap: 15px;" fill="clear" shape="round" size="small">
    <img src="assets\icon.png" slot="start" style="width: 25px;margin-right: 5px;"> 
     class 
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
  <div class="ion-activatable ripple-parent circle">
    <ion-icon name="person"></ion-icon>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </div>
 <span class="edit-icon">
 <ion-icon name="camera-outline"></ion-icon>
</span>
</div>
</ion-content>
