<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Class
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <video loading="lazy" muted="muted" src="assets\online-course.mp4" width="250px" type="video/mp4" autoplay="autoplay" loop="loop"></video>
    <ion-card-header>
      <ion-card-title>Welcome to Class</ion-card-title>
      <ion-card-subtitle>ajeet rajbhar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Good grades so you can graduate. Have a good relationship with your teachers.
    </ion-card-content>
  </ion-card>


</ion-content>
